.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding: 100px 40px 0;
  color: black;

}

.aboutTitle {
  margin-bottom: 15px;
}

.aboutTitle h1 {
  font-size: 30px;
  font-weight: 700;
  color: #053e6c;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 3px;
}

.aboutBtns button {
  border: 1px solid var(--mainColor);
  font-size: 15px;
  color: #053e6c;
  padding: 15px 20px;
}

.activeBtn {
  color: white !important;
    background-color: #053e6c !important ;
}

@media only screen and (min-width: 768px) {

  .aboutContainer {
  padding: 50px 40px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;

  }

  .aboutTitle {
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 3px;
  }

  .aboutTitle h1 {
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .aboutBtns{
    background-color: #fff;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .aboutBtns button {
    color: #053e6c;
    font-size: 15px;
    padding: 15px 35px;
    text-transform: uppercase;
    
  }

  .activeBtn {
    color: white !important;
    background-color: #053e6c !important ;
  }
}
