.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 40px 0;
  }
  
  .aboutTitle h1 {
  font-size: 30px;
  font-weight: 700;
  color: #053e6c;
  text-transform: uppercase;
  letter-spacing: 3px;
  }
  
  .aboutBtns button {
  font-size: 15px;
  color: #053e6c;
  padding: 5px 10px;
  }
  
  .activeBtn {
  color: white !important;
  background-color: #053e6c !important;
  }
  
  @media only screen and (min-width: 768px) {
  .aboutContainer {
  padding: 50px 40px 0;
  width: 100vw;
  color: azure;
  }
  
  .aboutTitle {
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
  }
  
  .aboutTitle h1 {
  font-size: 75px;
  font-weight: 800;
  margin-bottom: 20px;
  }
  
  .aboutBtns{
  border: 1px solid var(--maincolor);
  }
  
  .aboutBtns button {
  margin: 0 10px;
  padding: 15px 35px;
  text-transform: uppercase;
  }
  
  .aboutBtns button:hover {
  color: #fff;
  background-color: #053e6c;
  }
  }