@media (max-width : 600px) {
    .history-main{
     
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      }

      .historyTitle{
        color: aliceblue;
        font-size: 21px;
        margin-bottom: 10px;
      }

      /* .historyContent{
        
      } */
    
      .history-imgDiv{
        display: block;
      }

      .history-img{
        width: 100%;
      }
     
    
      .history-textDiv{
       padding: 5% 3%;
      }
      
}
