.managementMain {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileMain {
  color: #fff;
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  box-shadow: rgba(7, 66, 106, 0.25) 0px 50px 100px -20px, rgba(9, 84, 119, 0.3) 0px 30px 60px -30px, rgba(8, 90, 135, 0.35) 0px -2px 6px 0px inset;
}

.profileTitle {
  font-size: 20px;
  padding: 2.5%;
  margin-top: 20px;
  font-weight: 700;
}

.profileImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 2%;
  border: 2px solid white;
}

.profileDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  text-align: center;
}

.profileDescription h1 {
  font-size: large;
  padding-top: 3%;
  margin-bottom: 3%;
}

.profileDescription h5 {
  padding: 5%;
}

@media only screen and (min-width: 768px) {
  .managementMain {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .profileMain {
    border: none;
    box-shadow: rgba(21, 135, 188, 0.25) 0px 50px 100px -20px, rgba(13, 112, 130, 0.3) 0px 30px 60px -30px, rgba(14, 117, 145, 0.35) 0px -2px 6px 0px inset;
  }

  .profileImg {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 3%;
    border: 2px solid white;
    background-color: var(--mainColor);
  }

  .profileTitle {
    font-size: 20px;
    font-weight: 700;
    padding: 2.5%;
  }

  .profileDescription {
    text-align: left;
    margin-left: 7%;
  }

  .profileDescription h5 {
    padding: 5%;
  }
}
