

.about-header-container{
    padding-top: 100px;
}

.about_header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 5%; */
}

.about_header_text h1{
    color: var(--mainColor);
    font-size: 35px;
    line-height: 1.3;
    /* letter-spacing: 3px; */
    font-weight: 600;
}

.about_header_text h3{
    color: var(--mainColor);
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    word-spacing: .1px;
    font-weight: 300;
    text-align: justify;
    padding: 20px 10px;
}